DATABASE_URL="postgresql://postgres:postgres@localhost:5432/certiverify?schema=public"
SESSION_SECRET="replace-with-a-32-character-random-secret"
JWT_SECRET="replace-with-a-different-32-character-random-secret"
APP_URL="http://localhost:3000"
PORT=3000
NODE_ENV=development
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
EMAIL_API_KEY=
